<script id="tmpl-MainView" type="text/html">
  <div class="MainView container">
    <div class="row">
	    <div class="MainView-Group center"></div>
    </div>
    <div class="row">
	    <div class="MainView-Contact center"></div>
    </div>
    
  </div>
</script>  